<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div style="display: flex; justify-content: space-between; margin-top: 40px; ">
        <h1 style="margin-left: 550px;">Welcome to Vets Helping Vets</h1><a href="/" style="margin-top: 20px; margin-right: 50px">Home</a>
    </div>
    <div>
        <div style="width: 500px; margin-left: 550px;">
            <p style="font-weight: 800; font-size: 20px;">About Us:</p>

            <p>Vets Helping Vets is a non for profit Veteran owned and operated business that is here to soley help Veterans and their families cope with the PTSD and get the help they need. No Veteran should be forgotten about, especially when it comes
                to their Mental health and Wellness. We are also here to educate the public and the families about the stressors of dealing with PTSD and their likely side effects. We do understand that every Veteran is different in how they cope, deal,
                handle, and adversely show their PTSD symptoms, we also understand that more needs to be done with getting them the help they need. While some VA's have started to implement a peer counseling hotline, we here believe that one more step
                is needed in order to give it a more personal touch.
            </p>


            <p style="font-weight: 800; font-size: 20px;">About the Owner:</p>
            <p>Hello, my name is Ted and I am a combat veteran from the Iraq Conflict and Operation Enduring Freedom. I have spent 9 years in the Army from 2001-2010 as a Combat Engineer. While most people do not understand the full effects of PTSD and what
                kind of life it means for family, I am here to say that I do. I was recently diagnosed, way too late in my opinion, with PTSD like symptoms and unmanageable stressors related to life. While going through the motions of dealing with my
                "demons", in my every day life, I have found myself in a position wondering why no one is able to help me. I have thought about suicide multiple times and even called into the hotline, for help. The only thing that was able to accomplish
                was a trip to the local mental hospital, VA being closed, and another counseling session with the VA mental health clinic. It was after my own trials and tribulations, and me ending up losing of two families, that I decided I needed more
                help than I was getting. After the second loss hit me hard, I found myself unemployed and homeless. After doing some research, I was able to enroll in a class that taught me computer skills and made me more marketable than to just food
                and sales related positions. I found a temp home with the VA homeless shelter and went through the motions of getting better. Under COVID circumstances, I attended multiple in-person and more online and phone counseling sessions that determined
                my diagnosis. While there are still sounds and signs that set me off, mentally, I am learning to control them. I have used many approaches in this way of getting past my thoughts and notions, one of them being the multiple Veterans in
                my class during the 4 months. It was during the holidays that I found out over 10 more Veterans took their own lives not being able to deal with family or their own stressors. I decided at that point that something needed to be done, and
                that is how this idea formulated. My goal, personal and professional, is to lower the number of suicides each week by at least 5 nationally. While this is just a starting goal, I am making it my mission to work with every VA across the
                nation and with the pentagon to help combat the worst pandemic hitting America's Vets. In closing, I am trying to help as many as I can, but it is up to the Vets to want and make the first step to call for help. And to all the Vets out
                there seeing this, please know that someone is listening and it may take time but please make the call, we will come to your aid, and help you on the path to a better life, and remember "I got your six."</p>
        </div>
    </div>

</body>

</html>