<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>project</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/Navbar-responsive.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div class="navbar navbar-expand-lg bsnav bsnav-dark"><a class="navbar-brand" href="#">US Coast Guard</a><button class="btn btn-primary navbar-toggler toggler-spring"><span class="navbar-toggler-icon">&nbsp;</span></button>
        <div class="collapse navbar-collapse justify-content-md-end">
            <ul class="navbar-nav navbar-mobile mr-0">
                <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="stretched-link nav-link" href="/register">Registration</a></li>
                <li class="nav-item"><a class="nav-link" href="login">Login</a></li>
                <li class="nav-item"></li>
            </ul>
        </div>
    </div><img class="img-fluid img-responsive" src="/static/img/USCG.jpg" style="width: 100%;min-width: 100%;min-height: 100%;max-height: 100%;"><img class="img-fluid img img-responsive" src="/static/img/35501656294_272f996007_b.jpg" style="width: 100%;min-width: 100%;min-height: 100%;max-height: 100%;">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/Navbar-responsive.js"></script>
</body>

</html>