<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="/static/css/Navbar-responsive.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body><img data-aos="slide-right" data-aos-duration="2000" data-aos-delay="500" class="img-fluid img-responsive" src="/static/img/124563975_1510915589097129_4718947804414422188_o.jpg" style="width: 100%;">
    <form data-aos="slide-right" data-aos-duration="1100" style="padding: 18px;padding-top: 37px;height: 390px;width: 345px;background-color: rgba(255,255,255,0.36);" data-bss-recipient="49b7f0101dc0e09fa3ca3b0b3b605dd9">
        <div class="form-group">
            <div><a href="/welcome" style="color: black">Home|</a><a href="/logout" style="color:black">Logout</a></div>
            <h1 class="text-center" style="font-size: 30px;width: 290px;color: rgb(4,4,4);">Contact Us.</h1>
        </div>
        <div class="form-group"><input class="form-control form-control-lg" type="text" style="width: 50%;margin-left: 25%;" required="" placeholder="Name"></div>
        <div class="form-group"><input class="form-control form-control-lg" type="email" style="width: 50%;margin-left: 25%;" placeholder="Email"></div>
        <div class="form-group"><textarea class="form-control form-control-lg" style="width: 50%;margin-left: 25%;" placeholder="Message"></textarea></div><button class="btn btn-dark btn-lg" style="width: 50%;margin-left: 25%;padding: 0px;padding-top: 0px;" type="submit">Contact us</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/smart-forms.min.js"></script>
    <script src="/static/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="/static/js/Navbar-responsive.js"></script>
</body>

</html>