<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>project</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/Navbar-responsive.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body style="height: 900px;">
    <header></header>
    <header>
        <div class="navbar navbar-expand-lg bsnav bsnav-dark"><a class="navbar-brand" href="#">Vets Helping Vets</a><button class="btn btn-primary navbar-toggler toggler-spring"><span class="navbar-toggler-icon">&nbsp;</span></button>
            <div class="collapse navbar-collapse justify-content-md-end">
                <a href="airForce"><img class="img-fluid img-responsive" src="/static/img/download(1).jpg" style="width: 57%;"></a>
                <a href="army"><img class="img-fluid img-responsive" src="/static/img/download(2).jpg" style="width:51%;"></a>
                <a href="coastGuard"><img class="img-fluid img-responsive" src="/static/img/OIP(16).jpg" style="width: 57%;"></a>
                <a href="marines"><img class="img-fluid img-responsive" src="/static/img/OIP(11).jpg" style="width: 50%;"></a>
                <a href="navy"><img class="img-fluid img-responsive" src="/static/img/OIP(15).jpg" style="width: 64%;"></a>

                <ul class="navbar-nav navbar-mobile mr-0">
                    <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="stretched-link nav-link" href="/about">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Live Ticker</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </header><img class="img-fluid img-responsive" src="/static/img/veterans.jpg" style="width: 100%;">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/Navbar-responsive.js"></script>
</body>

</html>