<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/Login-screen.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body><img src="/static/img/z9qJnT.jpg">
    <form class="login-one-form" style="width: 337px;height: 384px;background: rgba(255,255,255,0.23);margin: 108px;filter: invert(0%);padding: 30px;box-shadow: 0px 0px var(--gray);margin-bottom: 108px;margin-top: -267px;margin-right: 109px;margin-left: 140px;">
        <div class="col">
            <div class="login-one-ico" style="height: 110px;width: 241px;"><i class="fa fa-unlock-alt" id="lockico" style="height: 31px;"></i></div>
            <div class="form-group">
                <div>
                    <h3 id="heading">Log in:</h3>
                </div>
                <input class="form-control" type="text" id="input" placeholder="Username">
                <input class="form-control" type="password" id="input" placeholder="Password">
                <button class="btn btn-primary" id="button" style="background-color:#007ac9;" type="submit">Log in</button>
                <a style="color:black" href="/">Home</a>||<a style="color:black" href="/register">Register here</a>
            </div>
        </div>
    </form>
    <div id="login-one" class="login-one"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>